node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*

# Local Netlify folder
.netlify

# vhollo
._*
magazin.code-workspace

# TEMP
# /src/routes/auth/

#/src/lib/data/*
/static/banners

/scripts/modx