@import "tailwindcss";
@theme {
  --breakpoint-xs: 30rem;
}
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: night --default;
  logs: false;
}

:root {
  /* --color-primary: #3f87c4; */
  font-size: clamp(1rem, 0.5vw + 0.85rem, 1.25rem); /* 16px@480px --> 22px@1200px, */ /* https://fluidtypography.com/ */
  --imgratio: 16 / 9;
  --lh: 1.75; /* fallback line-height */
  --lh: clamp(1.75rem, 0.875vw + 1.488rem, 2.188rem);
  /* --lh-card: 1.5; */ /* fallback card line-height */
  /* --lh-card: clamp(1.25rem, 0.875vw + 1.488rem, 1.5rem); */
  --radius-box: 0.4rem;
  --radius-selector: 0.4rem;
  --radius-field: 0.2rem;
  /*interpolate-size: allow-keywords;*/
  /* background-color: var(--fallback-b1, oklch(var(--b3) / 1)); */
  @apply bg-neutral;
  scroll-behavior: smooth;
}

body {
  @apply flex flex-col min-h-screen;
}
@media (prefers-color-scheme: light) {
  :root {
    /* --fallback-bc: oklch(var(--bc) / 1); */
    --n: var(--b2);
    --nc: var(--bc);
    /* --neutral-focus: oklch(var(--bc)/0.1); */
  }
}

*[id] {
  scroll-margin-top: 6rem;
  scroll-snap-align: center;
}

.prose a, .list a {
  text-decoration: dashed underline;
  text-underline-offset: 4px;
}

/* DRAWER */

.menu-active {
  cursor: default;
  pointer-events: none;
}
/* .navbar li ul {
  @apply bg-neutral;
} */
.navbar a:hover {
  outline-offset: 0;
  outline-width: 0;
}


@media (width < 48rem)  {
  body:has(#mobile-nav:checked) > *:not(nav), nav:has(/* nav >  */#mobile-nav:checked) ~ */* , footer ~ * */ {
    display: none;
  }
  .drop-col {
    @apply collapse;
  }
  .navbar a.menu-active {
    @apply !bg-base-100;
  }
}

@media (width >= 48rem) {
  .drop-col {
    @apply dropdown;
  }
  /* .navbar li:hover ul {
    @apply bg-base-100;
  } */
  .navbar a.menu-active {
    @apply !bg-base-200;
  }
}

/* FORMS */
input, button, select, textarea {
  @apply px-2 border border-primary rounded-sm;
}
input, .input {
  outline-offset: 0px;
  outline-color: var(--secondary);
}

/* PROSE */
.prose h1 {
  font-weight: 600;
}
.prose h2 {
  font-weight: 500;
}
.prose h3 {
  font-weight: 400;
}
.prose p {
  hyphens: auto;
}
.prose li {
  margin-block: 0;
}
.prose svg {
  display: inline-block;
  vertical-align: middle;
}

.card-sm .card-title {
  margin-bottom: revert;
}

/* .card a:not(.btn,.badge) {
  text-decoration: none;
} */
.prose :where(a):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  text-decoration: dashed underline;
  text-underline-offset: 4px;
  /* text-decoration: none; */
}

/* NAGYITO */
article figure {
  /*margin-top: 2em;
  margin-bottom: 2em;*/
  background-color: transparent;
}
/*.card-hollow {
  @apply card-sm;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: transparent;
}
.card-hollow .card-body {
  gap: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0!important;
}*/


/* OVERFLOW w/ ELLIPSIS */
.intro, .ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical; 
  margin: 0; 
  overflow: hidden;
}
/* .double .intro, .double .ellipsis {
  -webkit-line-clamp: 9;
} */
.twoliner {
  -webkit-line-clamp: 2;
}
.ellipsis p {
  hyphens: auto;
}

/* .ellipsis:has(video) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
} */
.ellipsis table {
  margin-top: auto;
}
.ellipsis tbody {
  display: grid;
  grid-template-columns: 1fr 1fr;
  & > tr {
    display: contents;
  }
  & > tr > td, & > tr > th {
    padding: 0;
  }
  & > tr > td:nth-child(1), & > tr > th:nth-child(1) {
    order: 0;
  }
  & > tr > td:nth-child(2), & > tr > th:nth-child(2) {
    order: 1;
  }
  & > tr > td:nth-child(3), & > tr > th:nth-child(3) {
    order: 2;
  }
  & > tr > td:nth-child(4), & > tr > th:nth-child(4) {
    order: 3;
  }
  & > tr > td:nth-child(5), & > tr > th:nth-child(5) {
    order: 4;
  }
  & > tr > td:nth-child(6), & > tr > th:nth-child(6) {
    order: 5;
  }
}

.ellipsis table ~ p {
  display: none; 
}
.ellipsis > table {
  @apply prose;
  font-size: 0.875rem;
  /* line-height: var(--lh-card, 1.5); */
  margin-bottom: .75rem;
  margin-top: 0;
  width: 100%;
}
/* .twoliner .nicebox {
  @apply shadow-none;
  margin: 0;
  padding: 0;
}
 */
.ellipsis .nicebox {
  display: contents;
}
.ellipsis .nicebox h2 {
  display: none;
}


.prose :where(p):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: .75em;
  margin-bottom: .75em;
}
.prose :where(h2 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0;
}
.prose figcaption a {
  --tw-prose-links: var(--fallback-bc,oklch(var(--bc)/.75));
}
article :not(table).nicebox {
  @apply my-[2.8rem];
}
article :not(table).nicebox, article :not(table).boxright, article :not(table).boxleft {
  @apply card card-sm bg-neutral shadow-xl card-body px-2 py-4 last:mb-0 gap-2;

  & > * {
    @apply my-0/*  mx-4 */;
  }
  /* & > h3 {
    @apply card-title mt-6;
  } */
  & > figure {
    @apply my-0 mx-0;
    text-align: center;
    width: 100%;
    flex-direction: column;
  }
  & > figure img {
    object-fit: contain;
  }
  & > figure figcaption {
    @apply m-1;
  }
  & > i, & > em, & > strong, & > b  {
    display: contents;
  }
}

p.nicebox, p.boxleft, p.boxright {
  @apply !p-2;
}

table.nicebox {
  /* @apply table table-xs; */
  /* font-size: 0.75rem; */
  width: 100%;
  /* table-layout: fixed; */
  @apply card card-sm bg-base-100 shadow-xl p-4 my-[2.8rem] text-xs;
}
/* .nicebox thead, .nicebox tfoot {
  white-space: normal;
} */
.nicebox tbody {
  overflow-x: auto;
  width: 100%;
}
.nicebox tr {
  width: 100%;
}
.nicebox th + th, .nicebox td + td {
  padding-left: 1rem;
}

article figure img {
  max-height: 75vh;
}
.prose {
  container-type: inline-size;
}

summary h2 {
  display: inline-block;
  margin: 0 0 1rem 1rem;
  cursor: pointer;
}

/* FLOATS */
:not(div) {
  & > .left, & > .right, & > .boxleft, & > .boxright {
    clear: both;
  }
}
.left, .right, .boxleft, .boxright {
  width: calc(50% - 1rem);
  margin-bottom: 1rem;
}
.left, .right, .boxleft, :not(:aside + .boxright) {
  margin-top: 2rem;
}
.left, .boxleft {
  float: left;
  margin-right: 1rem;
}
.right, .boxright {
  float: right;
  margin-left: 1rem;
}
.center {
  text-align: center;
}
.center img {
  margin-inline: auto;
}
.card.left figure, .card.right figure {
  /*max-width: 50%;*/
  margin-inline: auto;
}
/*.card.left p, .card.right p {
  @apply self-end;
}*/
@container (max-width: 54ch) {
  .left, .right, .boxleft, .boxright {
    float: none!important;
    width: 100%;
    margin-inline: 0!important;
    /* text-align: center!important; */
  }
  .left img, .right img {
    margin-inline: auto!important;
  }
}


/* ALAIRAS */
.alairas {
  clear: both;
  @apply uppercase text-sm italic text-end mt-8;
}
.alairas span {
  @apply not-italic block normal-case;
}
.alairas .logo {
  margin-inline: auto;
}

#szerzo {
  clear: both;
  @apply card bg-base-100 px-4 mt-8 rounded-sm;
  display: grid;
  gap: 0 2rem;
  grid-template-columns: 10ch auto;
}
#szerzo img {
  grid-row-start: 1;
  grid-row-end: 3;
  /*aspect-ratio: 1;*/
}
#szerzo img + .nev {
  line-height: 1;
}
#szerzo .cv {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-template-rows: auto;
}

*:has(#szerzo) > .alairas {
  display: none;
}

.prose :where(p):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  quotes: none;
}
.prose :where(figcaption):not(:where([class~="not-prose"],[class~="not-prose"] *)):first-child {
  margin-bottom: 0.8571429em;
  margin-top: 0;
}


/* MEDIA IFRAME */
article iframe[height="100%"] {
  height: unset;
}